---
import Layout from '~/layouts/PageLayout.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import MainPageIcon from '~/components/ui/MainPageIcon.astro';

const metadata = {
  title: 'Bob Tabrizi',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <main>
    <section class="scroll-mt-16">
      <div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
        <MainPageIcon/>
        <h1 class="text-5xl font-bold leading-tighter tracking-tighter my-4 text-center">
          Welcome to Bob Tabrizi's personal site.
        </h1>

        <p class="text-xl text-gray-600 mb-8 dark:text-slate-400 text-center">
          I work as a Full Stack Software Engineer.
        </p>
      </div>
    </section>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="My Latest Blog Posts"
  />

</main>
</Layout>
